<div class="container main">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 stage_menu">
          <h3>Which external factors you need to take into account in your advocacy planning?</h3>
          <ul class="nav nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-check-circle"></i> Understand the institutional and decision-making cycles</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i> Map the actors and analyse their influence and support</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i> Identify additional enabling factors and barriers</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <h2>Which external factors you need to take into account in your advocacy planning?</h2>
          <p>Understanding the decision-making cycle, the political forces both for and against your objectives and the enabling factors and barriers that you will likely encounter during the implementation of your advocacy plan will allow you to assess the feasibility of your objectives and to be accurate and effective in your targeting and planning. All this information will then shape the definition of the interim outcomes (see below).</p>

          <div role="tabpanel" class="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Data Entry</a></li>
              <li role="presentation"><a href="#explication" aria-controls="explication" role="tab" data-toggle="tab">Explication & Examples</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="data">
              <div class="bg_grey">
                <h4>Understand the institutional and decision-making cycles</h4>
                <p>Policy decisions are often made according to a cycle or schedule. To maximise your influence you need to have a sound understanding of the policy processes. First, because the analysis of the decision-making process helps to identify opportunities and entry points to begin influencing on a given issue. Second, because last-minute interventions rarely work, and the earlier in the decision-making cycle the idea is accepted, the more effective the end result is likely to be</p>
                <button type="button" class="btn btn-warning"><i class="fa fa-pencil"></i> Draw in Sandbox</button>
              </div>
              <div class="bg_grey">
                <h4>Map the actors and analyse their influence and support</h4>
                <p>Effective advocacy requires having a good understanding of all relevant actors: those with power to make change happen (decision-makers); those with influence over the decision-makers (influencers); and those in the community who would be supportive or opposing forces.</p>
                <button type="button" class="btn btn-warning">Add Actor</button>
              </div>
              
              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#ASWI" aria-expanded="false" aria-controls="collapseExample">Active supporters with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="ASWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#PSWI" aria-expanded="false" aria-controls="collapseExample">Passive supporters with influence </a>  
                  </div>      
                  <div class="collapse steps in" id="PSWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#AAWLI" aria-expanded="false" aria-controls="collapseExample">Active allies with low influence </a>  
                  </div>      
                  <div class="collapse steps in" id="AAWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#NWI" aria-expanded="false" aria-controls="collapseExample">Neutrals with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="NWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#AOWI" aria-expanded="false" aria-controls="collapseExample">Active opponents with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="AOWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#POWI" aria-expanded="false" aria-controls="collapseExample">Passive opponents with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="POWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#AOWLI" aria-expanded="false" aria-controls="collapseExample">Active opponents with low influence</a>  
                  </div>      
                  <div class="collapse steps in" id="AOWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#PAWLI" aria-expanded="false" aria-controls="collapseExample">Passive allies with low influence</a>  
                  </div>      
                  <div class="collapse steps in" id="PAWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#POWLI" aria-expanded="false" aria-controls="collapseExample">Passive opponents with low influence</a>  
                  </div>      
                  <div class="collapse steps in" id="POWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#NWNI" aria-expanded="false" aria-controls="collapseExample">Neutrals with no influence</a>  
                  </div>      
                  <div class="collapse steps in" id="NWNI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>
                
              <div class="bg_grey">
                <button type="button" class="btn btn-warning pull-right">Add</button>
                <h4>Identify additional enabling factors and barriers <i class="fa fa-info-circle" title="Thanks to the prioritizing table, the decision-making cycle analysis and the actor mapping you will have already identified a number of enabling factors and barriers to achieve your chosen objective. However, you may need to go deeper into the analysis of the context surrounding the specific policy change that you want to pursue. You should think devote time to think about additional relevant enabling factors and barriers of different nature: financial, social, technological, factual, political, religious, cultural, geographical, organizational, etc."></i></h4>
                
                <table class="table">
                  <tr>
                    <th>Type</th>
                    <th>Content</th>
                    <th class="text-center">Actions</th>
                  </tr>
                  <tr>
                    <td>Barriers</td>
                    <td>Expanding coverage was already discussed in previous reform and awareness was raised among some of the current NA members</td>
                    <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>Enabling factors</td>
                    <td>Uncertainty about the future of the Director of HI Department (rumours of early retirement)</td>
                    <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </table>

              </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="explication">
                <h3>Explication</h3>
                <hr>
                <h4>Understand the institutional and decision-making cycles</h4>
                <p>Policy decisions are often made according to a cycle or schedule. To maximise your influence you need to have a sound understanding of the policy processes. First, because the analysis of the decision-making process helps to identify opportunities and entry points to begin influencing on a given issue. Second, because last-minute interventions rarely work, and the earlier in the decision-making cycle the idea is accepted, the more effective the end result is likely to be. </p>
                <p>The four phases of decision-making usually include:</p>
                <ul style="list-style-type: lower-roman;">
                  <li>Agenda setting: getting an issue on the policy agenda</li>
                  <li>Formulation and enactment: developing a policy that responds to the issue and getting it passed by the relevant agency or branch of Government</li>
                  <li>Implementation and enforcement: putting the policy into action and enforcing it when necessary</li>
                  <li>Monitoring and evaluation: monitoring and assessing the policy´s application and impact.</li>
                </ul>
                <p>These are the standard four decision-making phases and you will need to go in more detail in the description of the process in order to understand how, when and by whom decisions are made. This will allow you to target specific moments (i.e. discussions and debates in commission or plenary) or structures (i.e. Parliamentary commissions), thus maximizing the impact of your efforts. Visualizing decision-making processes is usually very helpful in understanding them.</p>
                <p>It is also important to remember that decisions are often made through formal and informal processes, so you should be fully familiar with both. </p>
                <p>The information gathered about the decision-making cycle, together with the stakeholder analysis, will shape your strategy: what you will do and when; with whom; who to target; etc. For example, while in the agenda-setting phase you will focus on convincing policymakers that an issue requires attention, in the policy formulation phase you will try to influence policymakers to adopt your preferred course of action. </p>

                <h4>Map the actors and analyse their influence and support</h4>
                <p>Effective advocacy requires having a good understanding of all relevant actors: those with power to make change happen (decision-makers); those with influence over the decision-makers (influencers); and those in the community who would be supportive or opposing forces.</p>
                <p>The tool below (influence-position grid) will help you identify your most significant allies and opponents as well as the most and least influential actors. It is important to remember that people and organizations change their positions over time, so you need to keep monitoring them.</p>
                <p>The proposed actor mapping consists of the following steps: </p>
                <ul style="list-style-type: lower-roman;">
                  <li>Identification of the main actors. It is advisable to keep focused on the most relevant ones and, whenever it is possible, to name concrete individuals.</li>
                  <li>Assessment of the main actors’ position and influence. For each of the identified actors, you need to assess their current position, as well as the influence they have on the specific issue.
                  <ul>
                    <li>Position: Do they support or oppose your proposal? To what extent do they agree or disagree with your position? Are they actively supporting or opposing your position (i.e. committing resources such as time or money; publicly speaking on the issue; attending events on the subject)? Are they passively (no devoting time or resources, remaining silent on the issue) supporting or opposing your position?</li>
                    <li>Influence: Do they have a big say in the policy change (directly or indirectly) or is their influence limited? </li>
                  </ul>
                  </li>
                  <li>Placement in the following grid.</li>
                </ul>
                <%= image_tag "actor-grid.png" %>
                <p>The main decision-maker(s) for your issue will usually be at the top of the grid (i.e. very influential).  Those actors with some decision-making power on the issue or with direct and close connections and leverage with the decision-makers should be plotted in the upper part of the matrix.</p>
                <p>Actors committing resources and speaking publicly on the issue will be on the active side, whereas those who are not will be classified as passive. Those with a neutral position should be placed over the vertical line.</p>
                <p>Once you have finalized the mapping, you should spend some time in analysing and discussing its implications for your advocacy strategy:</p>
                <ul>
                  <li>Who has the power to make the change happen? These are usually known as target audience/critical players/primary stakeholders.</li>
                  <li>Do you have access to the most powerful actors? </li>
                  <li>Does your analysis include those people decision-makers listen to? (i.e. influencers) Do you need to do further research? <br>
                  A complementary exercise you can undertake at this stage is mapping the relationships between individuals, groups and institutions identified. Analysing the relationships may bring you useful information to decide how you can better reach those who have the power to make the change happen. (UNICEF to add instructions on the exercise based on the workshops experience)</li>
                  <li>Is the overall distribution of actors favourable or disfavourable to you? If it is disfavourable, do you have enough capacity to move your opponents? By when (short/medium/long term)?</li>
                  <li>Do you need to adjust the level of ambition of your objective/s based on the conclusions from the analysis?</li>
                </ul>
                <p>This discussion should be fully integrated in your advocacy strategy. The timing, targeting, and tactics of the strategy should be consistent with the conclusions obtained in this analysis. It is common that at the moment of defining your advocacy outcomes and activities the organizations going through an advocacy planning process decide on activities that they had previously planned even when those do not fit with the conclusions of the analysis.</p>
                <p>Actors can be classified in different categories according to their position and power.</p>
                <%= image_tag "actor-grid-power.png" %>
                <p>Each category of actors will have to be targeted through specific tactics strategies. The most common ones can be summarised as follows:</p>
                <table class="table">
                  <tr>
                    <th>Categories of actors</th>
                    <th>Suggested strategies (UNICEF- the strategies will integrated into the WIZARD graphics)</th>
                  </tr>
                  <tr>
                    <td>Active supporters with influence</td>
                    <td><ul>
                      <li>Work together</li>
                      <li>Actively support</li>
                      <li>Nurture</li>
                      <li>Encourage</li>
                      <li>Provide feedback</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>Passive supporters with influence</td>
                    <td>Persuade: build their willingness to take action. For example, share with them successful stories of policy changes achieved through active citizens’ participation so the person understand better the importance value of his/her engagement</td>
                  </tr>
                  <tr>
                    <td>Active allies with low influence</td>
                    <td>Empower: find ways to increase their influence and give them a voice, for example: a) Increase their knowledge on the issue; b) Strengthen their advocacy skills; c) Provide them with venues to express their opinions</td>
                  </tr>
                  <tr>
                    <td>Neutrals with influence </td>
                    <td><ul>
                      <li>Inform</li>
                      <li>Win over</li>
                      <li>Build relationships to sway their opinion in your favour</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>Active opponents with influence </td>
                    <td>Neutralize them, either by finding ways to soften their opposition or by making them have less of a say in the decision</td>
                  </tr>
                  <tr>
                    <td>Passive opponents with influence </td>
                    <td><ul>
                      <li>Monitor them </li>
                      <li>Do not provoke them into action</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>Active opponents with low influence</td>
                    <td><ul>
                      <li>Monitor them</li>
                      <li>Prevent them from getting a more powerful voice. (!) For this group your efforts will normally be minimal</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>Passive allies with low influence</td>
                    <td>If they are rights-holders affected by the problem, give them voice and empower them  </td>
                  </tr>
                  <tr>
                    <td>Passive opponents with low influence
Neutrals with no influence</td>
                    <td>Spend little resources on them!</td>
                  </tr>
                </table>

                <p>Those actors you will focus your attention on will be your target audience or critical players and for each of them you will need to define what you want from them (“see question 6 on “asks”).</p>

                <h4>Identify additional enabling factors and barriers</h4>
                <p>Thanks to the prioritizing table, the decision-making cycle analysis and the actor mapping you will have already identified a number of enabling factors and barriers to achieve your chosen objective. However, you may need to go deeper into the analysis of the context surrounding the specific policy change that you want to pursue. You should think devote time to think about additional relevant enabling factors and barriers of different nature: financial, social, technological, factual, political, religious, cultural, geographical, organizational, etc.</p>
                
                <h3>Example</h3>
                <hr>
                <p>In country AEIOU before a Law review takes place, the National Asssembly needs to conduct a review of the current Law and agree on the need to draft a new law. It is therefore important to understand both processes, the first related to monitoring and evaluation and the other related to law formulation. The processes could be visualized as follows: </p>
                <p>UNICEF to link with the Law development making process developed by Carmen in Wizard (link sent by email)</p>
                <p>*Other examples in Vizard: NIGERIA federal budget (need to revise it and “clean it up” a little bit). Andrea will check with Lex about its use. </p>
                <p>The influence-position matrix regarding the agreed objective (“By the end of 2018, the National Assembly revises the Health Insurance policy framework to expand coverage to disadvantaged informal workers and their families and to include PMTCT in the benefit package”) looks as follows: </p>
                <table class="table">
                  <tr>
                    <th>Categories of actors </th>
                    <th>Actors </th>
                  </tr>
                  <tr>
                    <td>Active supporters with influence </td>
                    <td>Director of the Department on Health Insurance <br>
                    National Assembly Social Affairs Committee <br>
                    WHO <br>
                    INGO “X”</td>
                  </tr>
                  <tr>
                    <td>Passive supporters with influence </td>
                    <td>Minister of Health <br>
                    UNWOMEN</td>
                  </tr>
                  <tr>
                    <td>Active allies with low influence </td>
                    <td>NGO coalition on HIV</td>
                  </tr>
                  <tr>
                    <td>Neutrals with influence </td>
                    <td>Prime Minister <br>
                    Chief editor of XX newspaper</td>
                  </tr>
                  <tr>
                    <td>Active opponents with influence </td>
                    <td>Minister of Finance <br>
                    Opposition Party <br>
                    Journalist XX</td>
                  </tr>
                  <tr>
                    <td>Passive opponents with influence </td>
                    <td>MF <br>
                    Private insurance companies</td>
                  </tr>
                  <tr>
                    <td>Active opponents with low influence</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>Passive allies with low influence</td>
                    <td>Affected women and children</td>
                  </tr>
                  <tr>
                    <td>Passive opponents with low influence <br>
                    Neutrals with no influence</td>
                    <td>Party XX</td>
                  </tr>
                </table>
                <table class="table">
                  <tr>
                    <th>Enabling factors</th>
                    <th>Barriers</th>
                  </tr>
                  <tr>
                    <td>Expanding coverage was already discussed in previous reform and awareness was raised among some of the current NA members</td>
                    <td>Limited human resources in the organization (UNICEF policy advisor will take paternal leave for two months)</td>
                  </tr>
                  <tr>
                    <td>Increasing support in decision-making circles to expand protection of disadvantaged groups through better access to essential services </td>
                    <td>Uncertainty about the future of the Director of HI Department (rumours of early retirement)</td>
                  </tr>
                  <tr>
                    <td>WHO report: Health for All to be published in October with strong messaging on HI as a sustainable measure for MIC</td>
                    <td>GDP growth slowed down in the last years. Forecast partially optimistic but still fears of fewer tax revenues</td>
                  </tr>
                  <tr>
                    <td>Good working relationship with INGO X, who has a strong program at the community level. Key for grassroots organization </td>
                    <td>Other countries in the region explored similar change and decided to postpone it.</td>
                  </tr>
                </table>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    