<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-circle btn-default">1</a>
            <p>Step 1 - Understand the policy process</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle">2</a>
            <p>Step 2 - List actors and Power map</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle btn-primary">3</a>
            <p>Step 3 - Identify (additional) enabling factors and barriers</p>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-md-12">
        <h3>Step 3 - Identify (additional) enabling factors and barriers</h3>
        <p>Write enabling factors and barriers</p>
        <div class="form-group">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#explication3" aria-controls="home" role="tab" data-toggle="tab">Explication</a></li>
                    <li role="presentation"><a href="#data-entry3" aria-controls="profile" role="tab" data-toggle="tab">Data Entry</a></li>
                </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="explication3">
                            <h4>Description</h4>
                            <p>Through the prioritization criteria table (step 2.2), the actor mapping (step 3.1) and the decision-making cycle analysis (3.2) you will have already identified some enabling factors and barriers to achieve your policy objective.</p>
                            <p>This step gives you the opportunity to consolidate this information and go deeper in the analysis of the context surrounding the specific policy change that you want to pursue.</p> 
                            <p>It consists on the identification of additional relevant enabling factors and barriers bearing in mind a broad range of elements: financial, social, technological, evidence, political, religious, cultural, geographical, within the organization, etc.</p> 

                            <hr>
                            <h4>Example</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Enabling factors</th>
                                    <th>Barriers </th>
                                </tr>
                                <tr>
                                    <td>Expanding coverage was already discussed in previous reform and awareness was raised among some of the current NA members</td>
                                    <td>Limited human resources in the organization (UNICEF policy advisor will take paternal leave for two months)</td>
                                </tr>
                                <tr>
                                    <td>Increasing support in decision-making circles to expand protection of disadvantaged groups through better access to essential services  </td>
                                    <td>Uncertainty about the future of the Director of HI Department (rumours of early retirement)</td>
                                </tr>
                                <tr>
                                    <td>WHO report: Health for All to be published in October with strong messaging on HI as a sustainable measure for MIC</td>
                                    <td>GDP growth slowed down in the last years. Forecast partially optimistic but still fears of fewer tax revenues</td>
                                </tr>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="data-entry3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label for="enabling-factor">Enabling Factor</label>
                                    <textarea class="form-control" rows="3" id="enabling-factor" placeholder="Enter Enabling Factor"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="barrier">Barrier</label>
                                        <textarea class="form-control" rows="3" id="barrier" placeholder="Enter Barrier"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-default" type="button" ><i class="fa fa-plus-square-o"></i> Add Barrier</button>
                            <hr>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Enabling factors</th>
                                    <th>Barriers </th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                <tr>
                                    <td>Expanding coverage was already discussed in previous reform and awareness was raised among some of the current NA members</td>
                                    <td>Limited human resources in the organization (UNICEF policy advisor will take paternal leave for two months)</td>
                                    <td class="text-right actions">
                                            <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
                                      </td>
                                </tr>
                                <tr>
                                    <td>Increasing support in decision-making circles to expand protection of disadvantaged groups through better access to essential services  </td>
                                    <td>Uncertainty about the future of the Director of HI Department (rumours of early retirement)</td>
                                    <td class="text-right actions">
                                            <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
                                      </td>
                                </tr>
                                <tr>
                                    <td>WHO report: Health for All to be published in October with strong messaging on HI as a sustainable measure for MIC</td>
                                    <td>GDP growth slowed down in the last years. Forecast partially optimistic but still fears of fewer tax revenues</td>
                                    <td class="text-right actions">
                                            <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
                                      </td>
                                </tr>
                            </table>
                            <button class="btn btn-success" type="button" >Save</button>
                            <button class="btn btn-success" type="button" >Save & Finish</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>