<h3>Interim Outcome</h3>
<p>INGO and UNICEF strengthen their collaboration and jointly advocate the National Assembly and the Government to reform the policy framework on HI in order to cover informal workers and their families</p>
<hr>
<div class=row>
    <div class="col-md-6">
        <div class="form-group">
            <label for="interim-outcome">Interim Outcome</label>
            <textarea class="form-control" rows="5" id="interim-outcome">INGO and UNICEF strengthen their collaboration and jointly advocate the National Assembly and the Government to reform the policy framework on HI in order to cover informal workers and their families</textarea>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
            <label for="interim-outcome-type">Interim Outcome Type</label>
            <select class="form-control" id="interim-outcome-type">
              <option>Select Interim Outcome Type</option>
              <option>Political will</option>
              <option>Public will</option>
              <option>Attitudes or beliefs</option>
              <option>Salience</option>
              <option>Awareness</option>
              <option>New champions</option>
              <option>New advocates </option>
              <option selected>Partnerships or alliances</option>
              <option>Constituency or support-base growth</option>
              <option>Media coverage</option>
              <option>Issue reframing</option>
              <option>Organizational advocacy capacity</option>
              <option>Organizational visibility or issue recognition</option>
              <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="actor-type">Actor Type</label>
            <select class="form-control" id="actor-type">
              <option>Select Actor Type</option>
              <option>Active opponents with influence</option>
              <option>Active opponents with low influence</option>
              <option>Passive opponents with influence</option>
              <option>Passive opponents with low influence</option>
              <option>Neutrals with influence</option>
              <option>Neutrals with low influence</option>
              <option>Passive supporters with influence</option>
              <option>Passive supporters with low influence</option>
              <option>Active supporters with influence</option>
              <option selected>Active supporters with low influence</option>
            </select>
        </div>
    </div>
  </div>
<hr>
<div class="row">
	<div class="col-md-12">
		<h4>Add Activity</h4>
	</div>
</div>
<div class=row>
	<div class="col-md-12">
	    <div class="form-group">
	        <label for="activity">Activity</label>
	        <textarea class="form-control" rows="5" id="activity" placeholder="Enter Activity"></textarea>
	    </div>
	    <div class="form-group">
	        <label for="activity-type">Activity Type</label>
	        <select class="form-control" id="activity-type">
	          <option>Select Activity Type</option>
	          <option>Digital or internet based media/social media</option>
	          <option>Coalition and networking building</option>
	          <option>Briefings/presentations</option>
	          <option>Earned media</option>
	          <option>Media partnerships</option>
	          <option>Grass-roots organizing and mobilization</option>
	          <option>Rallies and marches</option>
	          <option>Public service announcements</option>
	          <option>Polling</option>
	          <option>Demonstration projects or pilots</option>
	          <option>Issue/policy analysis and research</option>
	          <option>Policy proposal development</option>
	          <option>Policymaker and candidate education</option>
	          <option>Relationship building with decision-makers</option>
	          <option>Litigation or legal advocacy</option>
	          <option>Lobby</option>
	        </select>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	  <button class="btn btn-default" type="button" ><i class="fa fa-plus-square-o"></i> Add Activity</button>
	    <hr>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	  <table class="table table-bordered" id="activities">
	      <thead>
	        <tr>
	          <th>Activity</th>
	          <th>Activity Type</th>
	          <th>Actions</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>Jointly (INGO and UNICEF) collect and publish live stories of children living with HIV and children born HIV free from HIV positive mothers.</td>
	          <td>Digital or internet based media/social media</td>
	          <td class="text-right actions">
	                <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
	          </td>
	        </tr>
	        <tr>
	          <td>Joint lobby meetings (see below)</td>
	          <td>Issue/policy analysis and research</td>
	          <td class="text-right actions">
	                <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
	          </td>
	        </tr>
	        <tr>
	          <td>Develop internal UN document with UN asks, messages and narrative </td>
	          <td>Digital or internet based media/social media</td>
	          <td class="text-right actions">
	                <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
	          </td>
	        </tr>
	        <tr>
	          <td>Produce and publish joint UN/UNICEF investment case on HI and coverage to informal workers and families</td>
	          <td>Issue/policy analysis and research</td>
	          <td class="text-right actions">
	                <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
	          </td>
	        </tr>
	        <tr>
	          <td>Joint event around the launch of the WHO report on Health for All with the participation of Gov, MP and engagement of UN Reps and regional/HQ+ affected people</td>
	          <td>Digital or internet based media/social media</td>
	          <td class="text-right actions">
	                <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	    <hr>
        <button class="btn btn-success" type="button">Save</button> 
        <button class="btn btn-success" type="button" onclick="history.back()">Save & Back</button>
	</div>
</div>