<h3>Step 5 - Develop your plan of action</h3>
<p>What would be the most effective way of sequencing them?</p>
<hr>
<h4>Description</h4>
<p>At this stage you can assign responsibilities within and between teams or partners and estimate the budget for each of the activity or groups of activities. Finally, you should make a calendar with the most significant external events and advocacy actions. It will help you to visualize and identify critical and heavy-work moments, plan with other teams, etc.</p>
<hr>
<button class="btn btn-default" type="button" ><i class="fa fa-plus-square-o"></i> Export & Organize in Trello</button>
<hr>
<button class="btn btn-success" type="button">Save</button> 
<button class="btn btn-success" type="button" >Save & Finish</button>