<script type="text/javascript">
$('#myTab a').click(function (e) {
  e.preventDefault()
  $('#myTab a:first').tab('show') // Select first tab
})
</script>
<h3>Define your advocacy M&E plan</h3>
<p>Define how we will measure progress and evaluate the success of our work.</p>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#explication" aria-controls="home" role="tab" data-toggle="tab">Explication</a></li>
  <li role="presentation"><a href="#data-entry" aria-controls="profile" role="tab" data-toggle="tab">Data Entry</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="explication">
    <h4>Description</h4>
    <p>Once the action plan has been created we need to define how we will measure progress and assess the success of our work. </p>
    <p>According to UNICEF’s Programme Policy and Procedure Manual:</p>
    <ul>
      <li>Monitoring measures progress in achieving specific results in relation to a strategy’s implementation plan.</li>
      <li>Evaluation attempts to determine as systematically and objectively as possible a strategy’s worth or significance.</li>
    </ul>
    <p>UNICEF Advocacy toolkit highlights that advocacy monitoring and evaluation can and should be used for purposes of strategic learning – using monitoring to help organizations learn in real time and adapt their strategies to changing circumstances. It means integrating evaluation and evaluative thinking into strategic decision-making and bringing timely data to the table for reflection and action. It means embedding evaluation within the advocacy effort so that it influences the process. Positioned in this way, monitoring and evaluation can be decisive to the success of an advocacy strategy</p>
    <p>Indicators are a key component of your M&E plan. They are established at the initial design of the advocacy plan, but they can be revised and fine-tuned throughout the implementation of the plan if needed. You can create a comprehensive set of indicators for your objectives, interim outcomes and activities or you can decide to focus on some areas of your work. In any case, it is important that you define the baseline, the target and the means of verification for each of the indicators you agree on. </p>
    <p>A comprehensive list of indicators can be found in UNICEF (2010) Advocacy toolkit, pg. 63-65.</p>
    <hr>
    <h4>Example</h4>
    <table class="table table-bordered">
      <tr>
        <th>Interim outcomes</th>
        <th>Indicators</th>
      </tr>
      <tr>
        <td>INGO and UNICEF strengthen their collaboration and jointly advocate the National Assembly and the Government to reform the policy framework on HI in order to cover informal workers and their families (partnerships)</td>
        <td>Collaborative actions taken between the organizations</td>
      </tr>
      <tr>
        <td>All UN organizations interested on this issue (WHO, ILO, UNAIDS, UNWOMEN, UNICEF) agree on joint advocacy actions and actively engage in their implementation (partnerships)</td>
        <td>Collaborative actions taken between the organizations</td>
      </tr>
      <tr>
        <td>Key neutral media cover and support the issue and give voices to the demands of informal workers (media coverage)</td>
        <td>
          <ul>
            <li>No. of media citations reflecting our message</li>
            <li>No. of stories successfully placed in the media</li>
          </ul>
          </td>
      </tr>
      <tr>
        <td>Affected people groups/networks engage and take action in support of the issue (constituency growth)</td>
        <td>No of individuals/groups taking action on the issue</td>
      </tr>
      <tr>
        <td>Director of the Department of HI demonstrates its support to expanding HI coverage to informal workers by speaking in favour of it publicly (political will)</td>
        <td>
          <ul>
            <li>No of times issue appeared in his speeches/public interventions.</li>
            <li>No. and type of audience targeted by his speech</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Members of Parliament are aware of our policy proposal and recognize that the problem exists and solutions must be promptly set in place (awareness and salience)</td>
        <td>No of MP who show interest in the issue (attend meeting, request information, etc)</td>
      </tr>
      <tr>
        <td>UNICEF/ UN is invited to prepare and present a report on the implementation of the HI Law (organizational recognition)</td>
        <td>Invitation by the NA to UNICEF/UN</td>
      </tr>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane" id="data-entry">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <table class="table table-bordered">
          <thead>
            <p>Select one interim outcome and enters a Ask</p>
            <tr>
              <th>Interim Outcomes</th>
              <th>Number of Ask</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="">INGO and UNICEF strengthen their collaboration and jointly advocate the National Assembly and the Government to reform the policy framework on HI in order to cover informal workers and their families (partnerships)</a></td>
              <td>7</td>
            </tr>
            <tr>
              <td><a href="">All UN organizations interested on this issue (WHO, ILO, UNAIDS, UNWOMEN, UNICEF) agree on joint advocacy actions and actively engage in their implementation (partnerships)</a></td>
              <td>0</td>
            </tr>
            <tr>
              <td><a href="">Key neutral media cover and support the issue and give voices to the demands of informal workers (media coverage)</a></td>
              <td>2</td>
            </tr>
            <tr>
              <td><a href="">Affected people groups/networks engage and take action in support of the issue (constituency growth)</a></td>
              <td>4</td>
            </tr>
            <tr>
              <td><a href="">Director of the Department of HI demonstrates its support to expanding HI coverage to informal workers by speaking in favour of it publicly (political will)</a></td>
              <td>5</td>
            </tr>
            <tr>
              <td><a href="">Members of Parliament are aware of our policy proposal and recognize that the problem exists and solutions must be promptly set in place (awareness and salience)</a></td>
              <td>4</td>
            </tr>
            <tr>
              <td><a href="">UNICEF/ UN is invited to prepare and present a report on the implementation of the HI Law (organizational recognition)</a></td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
        <hr>
          <button class="btn btn-success" type="button">Save</button> 
          <button class="btn btn-success" type="button">Save & Finish</button>
      </div>
    </div>
  </div>
</div>