<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-circle btn-default">1</a>
            <p>Step 1 - Define the interim outcomes</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle btn-primary">2</a>
            <p>Step 2 - How do you envision the change to happen? (Theory of change)</p>
        </div>
    </div>
</div>

<div class="col-md-12">
  <h3>Step 2 - Theory of Change</h3>
  <p>How do you envision the change to happen?</p>
  <hr>
  <h4>Description</h4>
  <p>The interim outcomes can be organized in a logical chain where the combined effort of reaching some of them contributes to achieve the overall objective. The deeper you have worked in your analysis of problems the more accurate you will be in organising your outcomes. This logical chain is sometimes known as your theory of change, which explains how do you expect the change to happen and what will pave the way to the implementation of the policy solution that you have described above.</p>
  <p>You will describe how do you expect the change to happen and what will pave the way to the implementation of the policy solution that you have described above. Your theory of change explains the causal links between your actions and the intended impact.</p>
  <hr>
  <button class="btn btn-default" type="button" ><i class="fa fa-external-link"></i> Add Sandbox Theory</button>
  <hr>
  <button class="btn btn-success" type="button">Save</button> 
  <button class="btn btn-success" type="button" >Save & Finish</button>
</div>